<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>All</th>
        <th>Discussions</th>
        <th>Tips & Tricks!</th>
        <th class="animate__shakeX">Start a Convo!</th> 
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% tips.forEach(function(t) { %>
        <tr>
          <td>
            <img id="avatar"
            alt="avatar"
            src="<%= t.user.avatar %>"
            referrerpolicy="no-referrer"
          />
           </td>
          <td><%= t.user.name %></td>
          <td><%= t.title %></td>
       
          <td><a href="/tips/<%= t._id %>">REPLY</a></td>
          <td><a href="/tips/<%= t._id %>/edit">EDIT</a></td>
          <td>
            <form class="form-delete"  action="/tips/<%= t._id %>?_method=DELETE" method="POST">
              <button type="submit">DELETE</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    



<%- include('../partials/footer') %>