<%- include('../partials/header') %>

<section id="show-page">
  <div>Tips & Tricks:</div>
  <div><%= tip.title %></div>

  <br /><br />
  <h2>Comments</h2>
  <form
    id="add-comment-form"
    method="POST"
    action="/tips/<%= tip._id %>/comments"
  >
    <label></label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment" />
  </form>

  <% if (tip.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% tip.comments.forEach(function(c) { %>
      <tr>
        <td class="comment-user">
          <img
            alt="avatar"
            src="<%= c.user.avatar %>"
            referrerpolicy="no-referrer"
          /><%= c.user.name %>
        </td>
        <td><%= c.createdAt.toLocaleDateString() %></td>
        <td class="comment-content"><%= c.content %></td>
        <td class="editCommentForm" style="display: none">
          <form action="/comments/<%= c._id%>?_method=PUT" method="POST">
            <label>Edit Comment:</label>
            <input type="text" name="content" value="<%=c.content%>" />
            <button type="submit">Update</button>
          </form>
        </td>
    
        <td>
          <button class="editBtn">EDIT</button>
        </td>
        <td>
          <% if (user?._id.equals(c.user._id)) { %>
          <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
        </td>
      </tr>
      <% } %> <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Comments Yet</h5>
  <% } %>
</section>
<script>
  const editBtns = document.querySelectorAll(".editBtn");
  const editCommentForms = document.querySelectorAll(".editCommentForm");
  const comments = document.querySelectorAll(".comment-content");

  editBtns.forEach((btn, i) => {
    btn.addEventListener("click", () => {
      if (editCommentForms[i].style.display === "none") {
        editCommentForms[i].style.display = "block";
        comments[i].style.display = "none";
        btn.innerHTML = "CANCEL";
      } else {
        editCommentForms[i].style.display = "none";
        comments[i].style.display = "block";
        btn.innerHTML = "EDIT";
      }
    });
  });
</script>

<%- include('../partials/footer') %>
